<html>
<head>
	<title>Restaurants</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>

        <script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    

</head>
<body>
    <div class="container">
	<h1 class="text-center">All restaurants</h1>
        <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="953555464530-l6qualmhd06dv4cgcgeih6tgghgs64l0.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
        <div id='result'></div>
	<a href="{{ url_for('newRestaurant')}}">Add new restaurant</a>
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="alert alert-danger" role="alert">
			{% for message in messages %}
				<strong>{{ message }}</strong>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
	</div>
	{% if rows != 0 %}
	{% for restaurant in restaurants %}
	<div class = "card">
        <div class="card-body">
            <span class = "card-title"><p><h3><a href="{{ url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a></h3></p></span>
        </div>
	</div>
	{% endfor %}
	{% else %}
		<div class="card">No restaurants to show</div>
	{% endif %}
    
    </div>
    
    <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                  type: 'POST',
                  url: '/gconnect/?state={{STATE}}',
                  processData: false,
                  data: authResult['code'],
                  contentType: 'application/octet-stream; charset=utf-8',
                  success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                      $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                     setTimeout(function() {
                      window.location.href = "/restaurants/";
                     }, 4000);

                  } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                     }
                  }

        }); } }
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>