<html>
<head>
	<title>Restaurants</title>
</head>
<body>
	<h1>All restaurants</h1>
	<a href="{{ url_for('newRestaurant')}}">Add new restaurant</a>
	{% for restaurant in restaurants %}
	<div class = "name">
		<span class = "name"><p><h4><a href="#">{{restaurant.name}}</a></h4></p></span>
		<p>
			<span><a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete restaurant</a></span>
		</p>
		<p>
			<span><a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit restaurant</a></span>
		</p>
	</div>
	{% endfor %}
	{% if restaurants == null or restaurants == '' %}
		<div>No restaurants to show</div>
	{% endif %}
</body>
</html>